#navItem1 {
    color: #323f4b;
    font-family: "Roboto";
}

#navItem2 {
    color: #323f4b;
    font-family: "Roboto";
}

#navItem3 {
    color: #323f4b;
    font-family: "Roboto";
}

#navItem4 {
    color: #323f4b;
    font-family: "Roboto";
}

.food-munch-logo {
    width: 80px;
    height: 70px;
}

.banner-section-bg-container {
    background-image: url('https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/foodmunch-banner-bg.png');
    height: 100vh;
    background-size: cover;
}

.banner-heading {
    color: white;
    font-size: 45px;
    font-family: "Roboto";
    font-weight: 300;
}

.banner-paragraph {
    color: #f5f7fa;
    font-family: "Roboto";
    font-size: 24px;
    font-weight: 300;
}

.custom-button {
    width: 130px;
    height: 45px;
    color: white;
    background-color: #d0b200;
    border-width: 0;
    border-radius: 8px;
    margin-right: 10px;
}

.custom-outline-button {
    width: 130px;
    height: 45px;
    color: #d0b200;
    background-color: transparent;
    border-width: 1px;
    border-style: solid;
    border-color: #d0b200;
    border-radius: 8px;

}

.wcu-section-heading {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 28px;
    color: #183b56;
}

.wcu-section-paragraph {
    font-family: "Roboto";
    font-size: 16px;
    color: #5a7184;
}

.wcu-section-card {
    background-color: #ffffff;
    border-style: solid;
    border-width: 1px;
    border-color: #e5eaf4;
    border-radius: 16px;
}

.wcu-section-card-image {
    width: 90px;
    height: 87px;
}

.wcu-section-card-heading {
    font-family: "Roboto";
    font-weight: 500;
    font-size: 22px;
    color: #323f4b;
}

.wcu-section-card-paragraph {
    font-family: "Roboto";
    font-size: 16px;
    color: #7b8794;
}

.offers {
    color: #323f4b;
    font-weight: 600;
    font-style: italic;
}

.exp-section-card {
    padding: 20px;
    border-style: solid;
    border-color: #e5eaf4;
    border-width: 1px;
    border-radius: 16px;
    background-color: #ffffff;
}

.card-shadow {
    box-shadow: 0.3rem 0.3rem rgba(0, 0, 0, .15);
}

.exp-section-heading {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 28px;
    color: #183b56;
}

.exp-section-card-image {
    border-radius: 16px;
}

.exp-section-card-heading {
    font-family: "Roboto";
    font-size: 25px;
    color: #183b56;
}

.exp-section-card-button {
    color: #d0b200;
    border-width: 0px;
    background-color: transparent;
}

.healthy-food-section-heading {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 28px;
    color: #183b56;
}

.healthy-food-section-image {
    width: 270px;
}

.healthy-food-section-paragraph {
    font-family: "Roboto";
    font-size: 16px;
    color: #7b8794;
}

.delivery-and-payment-section-image {
    width: 270px;
}

.payments-card-image {
    width: 50px;
    height: 50px;
    margin-right: 28px;
}

.delivery-and-payment-section-heading {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 28px;
    color: #183b56;
}

.delivery-and-payment-section-paragraph {
    font-family: "Roboto";
    font-size: 16px;
    color: #7b8794;
}

.thanking-customers-section {
    background-image: radial-gradient(#fff8db, #fea38c);
}

.thanking-customers-section-image {
    width: 270px;
    margin-bottom: 20px;
}

.follow-us-section {
    background-color: #ffffff;
}

.follow-us-section-container {
    background-color: #faf7e8;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    margin: 20px;
    padding: 20px;
    text-align: center;
}

.follow-us-section-heading {
    text-align: center;
    color: #183b56;
    font-family: "Roboto";
    font-size: 28px;
    font-weight: 700;
}

.footer-section {
    background-color: #0d2436;
}

.footer-section-image {
    width: 80px;
    height: 70px;
}

.footer-section-heading {
    color: #959ead;
    font-family: "Roboto";
    font-weight: bold;
    font-size: 16px;
    margin-top: 20px;
}

.footer-section-paragraph {
    color: #959ead;
    font-family: "Roboto";
    font-size: 14px;
}